apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: guestbook-deployer
  namespace: guestbook
rules:
  - apiGroups: ["", "apps"]
    resources:
      - pods
      - services
      - endpoints
      - configmaps
      - secrets
      - deployments
      - replicasets
      - daemonsets
      - statefulsets
      - jobs
      - cronjobs
      - horizontalpodautoscalers
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
      
  - apiGroups: ["rbac.authorization.k8s.io"]
    resources:
      - roles
    verbs:
      - get
      - list
      - watch
      
  - apiGroups: ["networking.k8s.io"]
    resources:
      - ingresses
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete